---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/aece37e7e7a48995/almanac/q/CO/Denver.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.049'
      Last-Modified:
      - Tue, 06 May 2014 17:18:21 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"almanac\": 1\n  }\n\t}\n\t\t,\n\t\"almanac\": {\n\t\t\"airport_code\":
        \"KAPA\",\n\t\t\"temp_high\": {\n\t\t\"normal\": {\n\t\t\"F\": \"64\",\n\t\t\"C\":
        \"17\"\n\t\t}\n\t\t,\n\t\t\"record\": {\n\t\t\"F\": \"82\",\n\t\t\"C\": \"27\"\n\t\t},\n\t\t\"recordyear\":
        \"2004\"\n\t\t},\n\t\t\"temp_low\": {\n\t\t\"normal\": {\n\t\t\"F\": \"37\",\n\t\t\"C\":
        \"2\"\n\t\t}\n\t\t,\n\t\t\"record\": {\n\t\t\"F\": \"25\",\n\t\t\"C\": \"-3\"\n\t\t},\n\t\t\"recordyear\":
        \"1999\"\n\t\t}\n\t}\n}\n"
  recorded_at: Tue, 06 May 2014 17:22:54 GMT
recorded_with: VCR 2.9.0
