---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/aece37e7e7a48995/almanac/q/CO/Denver.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.052'
      Last-Modified:
      - Fri, 02 May 2014 22:41:02 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"almanac\": 1\n  }\n\t}\n\t\t,\n\t\"almanac\": {\n\t\t\"airport_code\":
        \"KAPA\",\n\t\t\"temp_high\": {\n\t\t\"normal\": {\n\t\t\"F\": \"62\",\n\t\t\"C\":
        \"16\"\n\t\t}\n\t\t,\n\t\t\"record\": {\n\t\t\"F\": \"77\",\n\t\t\"C\": \"25\"\n\t\t},\n\t\t\"recordyear\":
        \"2006\"\n\t\t},\n\t\t\"temp_low\": {\n\t\t\"normal\": {\n\t\t\"F\": \"36\",\n\t\t\"C\":
        \"2\"\n\t\t}\n\t\t,\n\t\t\"record\": {\n\t\t\"F\": \"16\",\n\t\t\"C\": \"-8\"\n\t\t},\n\t\t\"recordyear\":
        \"2013\"\n\t\t}\n\t}\n}\n"
  recorded_at: Fri, 02 May 2014 22:41:02 GMT
recorded_with: VCR 2.9.0
